<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <data-source>
        <name>java:global/DataSource</name>
        <class-name>org.postgresql.ds.PGSimpleDataSource</class-name>
        <server-name>postgres-postgresql</server-name>
        <port-number>5432</port-number>
        <database-name>postgres</database-name>
        <user>postgres</user>
        <password>sAnJTIv2tS</password>
    </data-source>
</web-app>